.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    color: azure;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: 25;
}

.navigation {
    display: flex;
    flex-direction: column;
}