.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    color: azure;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: 25;
}

.navigation {
    display: flex;
    flex-direction: column;
}

li {
    padding-bottom: 100px;
} 

.arrow-up {
    width: 22px; 
    height: 17px; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    
    border-bottom: 55px solid orange;
}

.s-triangle {
    width: 70px;
    height: 70px;
}